@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #c4a316;
$background: #1d1d1b;
$border: #353535;

$max_width: 1100px;

$color_1: rgba(255, 214, 103, 0.8);
$color_2: rgba(82, 206, 237, 0.8);
$color_3: rgba(255, 130, 0, 0.8);
$color_4: rgba(166, 227, 138, 0.8);
$color_5: rgba(255, 106, 88, 0.8);
$color_6: rgba(156, 204, 216, 0.8);

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*@font-face {
	font-family: 'Font Name';
	src: url(fonts/Font-Name.otf);
}*/

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	background-color: #353535;
	.moduletable_to11 {
		color: #ffec89;
		p {
			margin: 0;
		}
		a {
			color: #ffec89;
		}
		#a,
		#b,
		#c,
		#d {
			padding: 5px 0;
		}
		#a,
		#b {
			border-right: 1px solid #000;
		}
		#c,
		#d {
			border-left: 1px solid #000;
		}
	}
}

.top {
	background-color: #1d1d1b;
	.moduletable_to1 {
		padding: 15px 0;
	}
	.moduletable_to3 {
		padding: 2px;
		background-color: #f4d967;
		.woocommerce-product-search {
			input[type=search] {
				width: 80%;
				height: inherit;
				margin: 0;
				padding: 5px;
				border: 0;
				border-radius: 0;
				font-size: 14px;
				float: left;
				position: relative;
				&::placeholder {
					color: #353535;
				}
			}
			[type=submit] {
				width: 20%;
				height: 30px;
				background: {
					image: url(moduletable_to3_button_bg.png);
					position: center;
					repeat: no-repeat;
				}
				font-size: 0;
			}
		}
	}
	.moduletable_to4 {
		.menu-cart-menu-container {
			ul.menu {
				li {
					display: contents;
					a {
						width: 100%;
						padding: 5px;
						font-size: 12px;
						color: #f4d967;
						text-align: center;
						display: block;
						i {
							margin-bottom: 5px;
							font-size: 34px;
							display: block !important;
						}
						.cartcontents {
							margin-bottom: 5px;
							color: #fff;
							display: block !important;
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	padding-top: 7px;
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		font-size: 24px;
	}
	b,
	strong {
		color: $secondary_color;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
			&.hollow {
				background-color: transparent;
				border-color: $secondary_color;
				color: $secondary_color;
			}
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	.breadcrumb {
		margin-bottom: 30px;
		border-bottom: 1px solid $border;
		font-size: 24px;
		color: #000;
		span {
			color: $secondary_color;
		}
		a {
			color: #000;
		}
	}
	.moduletable_le1 {
		margin-bottom: 30px;
		padding: 10px;
		border: 1px solid $border;
		a {
			h3 {
				font-size: 26px;
				color: #000;
			}
		}
	}
	nav.bellows {
		margin: 0;
		background: transparent;
		box-shadow: none;
		ul.bellows-nav {
			li.bellows-menu-item {
				&.bellows-current-menu-item {
					a.bellows-target {
						background-color: $secondary_color;
						color: #000;
					}
				}
				a.bellows-target {
					padding: 4px 10px;
					border-bottom: 1px solid #e0e0e0;
					font-size: 16px;
					color: $primary_color;
					&:hover {
						background-color: $secondary_color;
						color: #000;
					}
				}
			}
		}
	}
	.woocommerce {
		h1.page-title {
			margin-bottom: 30px;
			padding-bottom: 10px;
			border-bottom: 1px solid $border;
			font-size: 24px;
			color: #000;
			text-transform: uppercase;
		}
		ul.products {
			li.product {
				margin-bottom: 15px;
				border: 1px solid $border;
				a {
					text-align: center;
					img {
						width: auto;
						height: 240px;
						margin: auto;
						padding: 20px;
						display: block;
					}
					h2 {
						min-height: 110px;
						margin: 0;
						padding: 10px 20px !important;
						font-size: 16px;
						color: $primary_color;
						text: {
							align: center;
							transform: uppercase;
						}
					}
					span.price {
						margin: 0;
						padding: 0 20px 10px 20px;
						font: {
							size: 18px;
							weight: bold;
						}
						color: #000;
						text-align: center;
					}
				}
				a.button {
					margin: 0;
					padding-left: 30px;
					background: {
						color: #f4d967;
						image: url(moduletable_b11_button_bg.png);
						position: right;
						repeat: no-repeat;
					}
					color: #000 !important;
					text: {
						align: left;
						transform: uppercase;
					}
					display: block;
				}
				&:nth-child(1),
				&:nth-child(7) {
					a {
						img {
							background-color: $color_1;
						}
					}
				}
				&:nth-child(2),
				&:nth-child(8) {
					a {
						img {
							background-color: $color_2;
						}
					}
				}
				&:nth-child(3),
				&:nth-child(9) {
					a {
						img {
							background-color: $color_3;
						}
					}
				}
				&:nth-child(4),
				&:nth-child(10) {
					a {
						img {
							background-color: $color_4;
						}
					}
				}
				&:nth-child(5),
				&:nth-child(11) {
					a {
						img {
							background-color: $color_5;
						}
					}
				}
				&:nth-child(6),
				&:nth-child(12) {
					a {
						img {
							background-color: $color_6;
						}
					}
				}
			}
		}
		.product {
			h1.product_title {
				margin-bottom: 20px;
				font: {
					size: 24px;
					weight: bold;
				}
				color: #000;
				text: {
					align: right;
					transform: uppercase;
				}
			}
			p.price {
				margin-bottom: 20px;
				font: {
					size: 24px;
					weight: bold;
				}
				color: $secondary_color;
				text-align: right;
			}
			form.cart {
				float: right;
				position: relative;
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 - Block 2 - Block 3 - Block 4 */

.block_1,
.block_2,
.block_3,
.block_4 {
	padding: 30px 0;
	.moduletable_b11,
	.moduletable_b21,
	.moduletable_b31,
	.moduletable_b41 {
		padding-bottom: 30px;
		border-bottom: 1px solid #353535;
		h3 {
			width: fit-content;
			margin: auto;
			padding-bottom: 10px;
			border-bottom: 1px solid $border;
			font-size: 24px;
			color: #000;
			span {
				color: $secondary_color;
			}
		}
		.owl-item {
			figure {
				border: 1px solid $border;
				a.wpb_pro_img_url {
					padding: 20px 20px 20px 20px;
					text-align: center;
					img {
						width: auto;
						max-height: 240px;
					}
				}
				figcaption {
					background-color: transparent;
					a.wpb-wps-product-title {
						h3.pro_title {
							width: 100%;
							min-height: 64px;
							margin: 0;
							padding: 10px 0;
							border: 0;
							font-size: 16px;
							color: $primary_color;
							text-transform: uppercase;
						}
					}
					.pro_price_area {
						margin: 0;
						padding-bottom: 10px;
						font: {
							size: 18px;
							weight: bold;
						}
						color: #000;
					}
					.wpb_cart_button {
						a.button {
							margin: 0;
							padding-left: 30px;
							background: {
								color: #f4d967;
								image: url(moduletable_b11_button_bg.png);
								position: right;
								repeat: no-repeat;
							}
							color: #000 !important;
							text: {
								align: left;
								transform: uppercase;
							}
							display: block;
						}
					}
				}
			}
			&:nth-child(1),
			&:nth-child(7) {
				figure {
					a.wpb_pro_img_url {
						background-color: $color_1;
					}
				}
			}
			&:nth-child(2),
			&:nth-child(8) {
				figure {
					a.wpb_pro_img_url {
						background-color: $color_2;
					}
				}
			}
			&:nth-child(3),
			&:nth-child(9) {
				figure {
					a.wpb_pro_img_url {
						background-color: $color_3;
					}
				}
			}
			&:nth-child(4),
			&:nth-child(10) {
				figure {
					a.wpb_pro_img_url {
						background-color: $color_4;
					}
				}
			}
			&:nth-child(5),
			&:nth-child(11) {
				figure {
					a.wpb_pro_img_url {
						background-color: $color_5;
					}
				}
			}
			&:nth-child(6),
			&:nth-child(12) {
				figure {
					a.wpb_pro_img_url {
						background-color: $color_6;
					}
				}
			}
		}
	}
}

/* Block 5 */

.block_5 {
	padding: 60px 0;
	background: {
		image: url(block_5_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b51 {
		h3 {
			margin-bottom: 20px;
			font: {
				size: 20px;
				weight: bold;
			}
			color: #000;
		}
		.tnp {
			.tnp-field-email {
				width: 75%;
				float: left;
				position: relative;
				label {
					display: none;
				}
				[type=email] {
					margin: 0;
					border: 0;
					border-radius: 0;
					&::placeholder {
						color: $primary_color;
					}
				}
			}
			.tnp-field-button {
				width: 23%;
				float: right;
				position: relative;
				input[type=submit] {
					margin: 0;
					background-color: #353535;
					border: 0;
					border-radius: 0;
					font-weight: bold;
					color: $secondary_color;
				}
			}
		}
	}
}

/* Block 6 */

.block_6 {
	padding: 30px 0;
	.moduletable_b61 {
		h3 {
			width: fit-content;
			margin: 0;
			padding-bottom: 10px;
			border-bottom: 1px solid $border;
			font-size: 24px;
			color: #000;
			float: right;
			position: relative;
			span {
				color: $secondary_color;
			}
		}
		.owl-item {
			img {
				border: 1px solid $border;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background-color: #000;
	.moduletable_bo1 {
		color: #fff;
		h3 {
			margin: 0;
			font: {
				size: 14px;
				weight: bold;
			}
			color: $secondary_color;
		}
		ul {
			margin: 0;
			list-style: none;
		}
		a {
			color: #fff;
		}
		img {
			margin: 0 5px;
			display: inline-block;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: #353535;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top_1 {
		display: none;
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}